* {
  font-family: 'Play';
  /*background-color: rgba(235,235,235, 0.1);*/
}

.highlight {
  border: 1px solid black;
}

img {
  height: 225px;
  width: 175px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 10%;
}

.namesToDrag {
  width: 105px;
  font-size: 20px;
  text-align: center;
  background-color: rgba(255,255,255,0.5);
}

.sidePad {
  padding: 0;
}

.picturesContainer {
  margin-bottom: 10px;
}

.nameContainer {
  margin-top: 10px;
  /*padding-top: 15px;*/
}
#movieTitleMatch{
  text-align: center;
}

.dragMe {
  text-align: center;
  margin-top: 50px;
  /*padding-top: 50px;*/
}

.startButton {
  align: center;
}

#title {
  text-align: center;
  font-size: 50px;
  font-family: 'VT323';
}
#subTitle {
  text-align: center;
  font-size: 25px;
  font-family: 'VT323';
}

.directions {
  text-align: left;
  font-size: 17px;
  word-spacing: 1px;
  line-height: 150%;
}

ul {
  list-style-type: none;
}

.green {
  color: green;
}

.orange {
  color: orange;
}

.red {
  color: red;
}

#buttonConainter {
  margin-top: 50px;
  margin-bottom: 50px;
}


