

<div ng-controller='MovieCtrl'>
  <h1> Do you want to play a game? </h1><br>

  <div class="container" id="entry-screen">

    <div class="row">

      <div class="col-md-12">
        <form role='form' name='movieSearch' novalidate>
        <label for='searchedMovie'> Search for a Movie to Play with... </label>
        <input name='movieTitle' ng-model='movieTitle' type='title' class='form-control' placeholder='Search for the movie hear such as Super Cool Moive or Amazing Movie!' required><br>
        <button ng-click='enterMovie(movieTitle)' type='submit' class='btn btn-primary' ng-disabled='blgoPost.$invalid'>Start the Game! </button>
      </div>

    </div>

  </div>

  <div class='container' id='game-screen'>
    <div class='row' id='dropMe'>
        <h1> The game to be played </h1>
        <div class="col-md-1">
        </div>
        <div ng-repeat="actor in actors.actors">
          <div class="col-md-2">
            <div class='imageDropTo'>
              <img class='imageDropTo' src={{actor.url}} data-id={{actor.id}}>
            </div>
          </div>
        </div>
        <div class="col-md-1">
        </div>
      </div>
      <div class='row' id='dragMe'>
        <div class="col-md-1">
        </div>
          <div ng-repeat="actor in actors.actors">
            <div class='col-md-2'>
              <p id='{{actor.id}}' class='namesToDrag'> {{actor.name}} </p>
          </div>
        </div>
        <div class="col-md-1" id='dragMe'>
        </div>
        <div class='row'>
          <div class='col-md-4'>
          </div>
          <div class='col-md-4'>
          <button ng-click='' type='submit' class='btn btn-primary'> Submit </button>
          <button ng-click='reset()' type='submit' class='btn btn-primary'> Reset </button>
          </div>
          <div class='col-md-4'>
          </div>
        </div>
    </div>
  </div>
</div>
