<div ng-controller='MovieCtrl'>
  <h1> Do you want to play a game? </h1><br>
  <div class="container">

    <div class="row">

      <div class="col-md-12">
        <form role='form' name='movieSearch' novalidate>
        <label for='searchedMovie'> Search for a Movie to Play with... </label>
        <input name='movieTitle' ng-model='movieTitle' type='title' class='form-control' placeholder='Search for the movie hear such as Super Cool Moive or Amazing Movie!' required><br>
        <button ng-click='enterMovie(movieTitle)' type='submit' class='btn btn-primary' ng-disabled='blgoPost.$invalid'>Start the Game! </button>
      </div>

    </div>

  </div>



</div>
