

<div ng-controller='MovieCtrl'>
  <h1 id='title'> Movie Matching Game </h1>
  <h6 id='subTitle'> Search for a movie, match actors to their pictures, see your score!</h6><br>

  <div class="container" id="entry-screen">

    <div class="row">
      <div class='col-md-2'>
      </div>
      <div class="col-md-8">
        <form role='form' name='movieSearch' novalidate>
        <label for='searchedMovie'> Search for a Movie to Play with... </label>
        <input name='movieTitle' ng-model='movieTitle' type='title' class='form-control' placeholder='Search for the movie hear such as Super Cool Moive or Amazing Movie!' required><br>
        <button id='startButton' ng-click='enterMovie(movieTitle)' type='submit' class='btn btn-primary btn-lg center-block' ng-disabled='movieSearch.$invalid'>Start the Game! </button>
      </div>
      <div class='col-md-2'>
      </div>
    </div>

  </div>

  <div id='game-screen'>
    <div class='container center-block' id='picturesContainer'>
      <div class='row' id='dropMe'>
          <h1> {{movieTitle}} </h1>
          <div class="col-md-1" class='sidePad'>
          </div>
          <div ng-repeat="picture in pictures">
            <div class="col-md-2">
              <div class='imageDropTo'>
                <img class='imageDropTo' src={{picture.url}} data-id={{picture.id}}>
              </div>
            </div>
          </div>
          <div class="col-md-1">
          </div>
      </div>
    </div><br>
    <div class="container" id='nameContainer'>
      <div class='row' id='dragMe'>
        <div class="col-md-1" class='sidePad'>
        </div>
          <div ng-repeat="actor in actors">
            <div class='col-md-2'>
              <p id='{{actor.id}}' class='namesToDrag'> {{actor.name}} </p>
          </div>
        </div>
        <div class="col-md-1">
        </div><br>
      </div>
    </div>
    <div class='container'>
        <div class='row'>
          <div class='col-md-4'>
          </div>
          <div class='col-md-4'>
          <button ng-click='getScore()' type='submit' class='btn btn-success' data-toggle="modal" data-target="#myModal"> Submit </button>
          <button ng-click='resetEverything()' type='submit' class='btn btn-warning'> Reset </button>
          </div>
          <div class='col-md-4'>
          </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Your Score</h4>
          </div>
          <div class="modal-body">
            <h1>{{gameScore.length}}/5</h1>
          </div>
          <div class="modal-footer">
            <button ng-click='directHome()' type="button" class="btn btn-default" data-dismiss="modal">return to home screen</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>

  </div>



</div>
